*.pyc
.DS_Store
docs/_build/
model.pt
botive.egg-info/
dist/
build/
botive.egg-info
botiverse.egg-info

botiverse/models/FastSpeech1/weights.pth
botiverse/preprocessors/GloVe/glove.6B.50d.txt

!botiverse/models/TRIPPY/vocab.txt

botiverse.egg-info/PKG-INFO
botiverse/models/FastSpeech1/weights.pth
*.wav
*.pkl
botiverse/preprocessors/Vocalize/__MACOSX/._noises
*.DS_Store
*.pth
*.bot
*.pt
