audiomentations
benepar
cvxopt
Flask
gdown
gensim
gtts
librosa
matplotlib
multiprocess
nltk
numpy
pandas
playsound
# pyaudio
pydub
scikit_learn
scipy
setuptools
soundfile
spacy
tokenizers
torch
torchaudio
tqdm
transformers
umap
waveglow