audiomentations
cvxopt
gdown
gensim
gTTS
librosa
matplotlib
nltk
numpy
playsound
PyAudio
pydub
scikit_learn
scipy
setuptools
soundfile
tokenizers
torch
torchaudio
tqdm
transformers
umap
umap_learn
waveglow
